{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <ul class="media-list" style="margin-top:50px;">
    {{each topics item i}}
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" style="border-radius: 50%;" class="media-object" src="../public/img/avatar-default.png" alt="头像">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="/topics/show?id={{item._id}}">{{item.title}}</a>
        </h4>
        <div class="media_content">
          {{item.article}}
        </div>
        <p style="color: #636466;">{{if item.model==0}}分享
          {{else if item.model==1}}问答
          {{else if item.model==2}}客户端测试
          {{else}}测试
          {{/if}}
          <!-- • {{item.created_time}}</p> -->
          • {{item.created_time}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
{{/block}}