<nav class="navbar navbar-default" 
style="background-color:  white;box-shadow:0 2px 4px 0 rgba(0,0,0,0.05);
position: sticky;top:0px;margin-bottom: 40px;z-index: 100;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="/">
          <!-- <img width="40px" style="margin-left: 40px;" src="/public/img/home3.png" alt=""> -->
          <h3 style="font-weight: 600;font-size: 30px;color:#0056b3;">首页</h3>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class="nav navbar-nav navbar-right">
          {{ if user }}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img width="20" style="border-radius: 50%;" height="20" src="{{ user. avatar}}" alt=""> 
              <span class="caret">{{ user.nickname }}</span>
            </a>
            <a class="btn btn-default navbar-btn new_article" href="/topics/new">发文章</a>
            <ul class="dropdown-menu">
              <!-- <li class="dropdown-current-user">
                当前登录用户: {{ user.nickname }}eeeeeeeeeee
              </li> -->
              <!-- <li role="separator" class="divider"></li> -->
              <li><a href="/settings/myblog">我的文章</a></li>
              <li><a href="/settings/profile">用户设置</a></li>
              <li><a href="/logout">退出登录</a></li>
            </ul>
          </li>
          {{ else }}
          <div class="btn-group">
            <a class="btn btn-primary" href="/login">登录</a>&nbsp;
            <a class="btn btn-success" href="/register">注册</a>
          </div>
          {{ /if }}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>